{% extends 'core/base.html' %}



{%block content%}
<!-- templates/core/test.html -->
<form method="POST">
    {% csrf_token %}
    
    <h2>{{ test.name }}</h2>
    
    {% for q in questions %}
      <div>
        <p><strong>{{ q.title }}</strong></p>
        
        {% if q.question_type == 'yes_no' %}
          <label>
            <input type="radio" name="question_{{ q.id }}" value="Այո" required> Այո
          </label>
          <label>
            <input type="radio" name="question_{{ q.id }}" value="Ոչ" required> Ոչ
          </label>
  
        {% elif q.question_type == 'multiple_choice' %}
          {% for opt in q.get_options %}
            <label>
              <input type="radio" name="question_{{ q.id }}" value="{{ opt }}" required> {{ opt }}
            </label>
          {% endfor %}
  
        {% elif q.question_type == 'open_text' %}
          <textarea name="question_{{ q.id }}" rows="3" cols="50" required></textarea>
  
        {% elif q.question_type == 'rating_scale' %}
          <input type="number" 
                 name="question_{{ q.id }}" 
                 min="{{ q.scale_min }}" 
                 max="{{ q.scale_max }}" 
                 required>
        {% endif %}
      </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
{%endblock%}